@font-face {
  font-family: 'Manrope';
  src: url(../fonts/Manrope-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url(../fonts/Manrope-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Manrope', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
